<div class="LearningRessourceComponent">
    @foreach (var item in ressources)
    {
        <div class="LearningRessource">
            <div class="Header">
                <h3>@item.RessourceDTO.Description</h3>
                <div @onclick="() => item.Expanded = !item.Expanded">
                    <img src="/down-arrow.png"/>
                </div>
            </div>
            @if (item.Expanded)
            {
                <div style="height: 60px;">

                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public LearningPathDTO LearningPathDTO { get; set; }
    private List<Ressource> ressources;
    protected override async Task OnInitializedAsync()
    {
        ressources = LearningPathDTO.LearningRessourceDTOs.Select(s => new Ressource
        {
            Expanded = false,
            RessourceDTO = s
        }).ToList();
    }

    class Ressource
    {
        public bool Expanded { get; set; }
        public LearningRessourceDTO RessourceDTO { get; set; }
    }

}
