<div class="LearningRessourceComponent">
    @foreach (var item in ressources)
    {
        <div class="LearningRessource">
            <div class="Header">
                <h3>@item.RessourceDTO.Name</h3>
                <div @onclick="() => item.Expanded = !item.Expanded">
                    @if (item.Expanded)
                    {
                        <img style="transform: rotate(180deg);" src="/down-arrow.png" />
                    }
                    else
                    {
                        <img src="/down-arrow.png" />
                    }
                </div>
            </div>
            @if (item.Expanded)
            {
                <div>
                    <h4>@item.RessourceDTO.Description</h4>
                    <a href="@item.RessourceDTO.LinkURI">Visit LearningRessource</a>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public LearningPathDTO LearningPathDTO { get; set; }
    private List<Ressource> ressources;
    protected override async Task OnInitializedAsync()
    {
        ressources = LearningPathDTO.LearningRessourceDTOs.Select(s => new Ressource
        {
            Expanded = false,
            RessourceDTO = s
        }).ToList();
    }

    class Ressource
    {
        public bool Expanded { get; set; }
        public LearningRessourceDTO RessourceDTO { get; set; }
    }

}
