<div class="TeamTurtleComponent">
    <h3>Welcome to Team Turtle!</h3>
    <div class="StrivesToBe">
        <h4>Team Turtle strives to be a community where</h4>
        <ul>
            <li>An inclusive athmosphere </li>
            <li>Learningpaths can be completed</li>
        </ul>
    </div>
</div>

@code{

}
