@page
@model WebAPI.Pages.ProfileModel
@{
}
<style>
    .profileForm{
        display: flex;
        flex-direction: column;
    }
</style>
<div class="LoginForm">
    <h3 style="margin-bottom: 5px;">Configure your Profile Settings</h3>
    <main>
        <form class="profileForm" method="post">
            <label>Your Motto:</label>
            <input />
            <label></label>
            <input />
        </form>
    </main>
</div>