@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeamTurtle 🐢</title>
    <link href="/app.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <div class="NavigationContainer">
            <nav>
                <h1><a class="titleLink" href="/">TeamTurtle 🐢</a></h1>
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="ProfileSection">
                        <h3>Hello, @User.Identity.Name!</h3>
                    </div>
                }
            </nav>
        </div>
        <div class="body">
            @RenderBody()
        </div>
    </div>
</body>
</html>
