<div class="card">
    <div class="card-body">
        <h4 style="margin-bottom: 5px; margin-top: 5px;">Add a link to an external Blog</h4>
        
    </div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code{
    [Parameter]
    public BlogExternNode Node { get; set; }
}
