<style>
    ul, li{
        margin-top: 3px;
        font-size: 6px;
    }
</style>
<div class="card">
    <div class="card-body">
        <h4 style="margin-bottom: 5px; margin-top: 5px;">Create a new LearningPath!</h4>
        <EditForm Model="configuredLearningPath">
            <DataAnnotationsValidator />
            <label>Name:</label>
            <ValidationMessage For="() => configuredLearningPath.Name" />
            <InputTextOnInput @bind-Value="configuredLearningPath.Name" />
            <label>Estimated Timespan in hrs:</label>
            <ValidationMessage For="() => configuredLearningPath.EstimatedCompletionTimeInHrs" />
            <InputNumber @bind-Value="configuredLearningPath.EstimatedCompletionTimeInHrs" />
        </EditForm>     
    </div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code{
    [CascadingParameter]
    public LearningPathDTO configuredLearningPath { get; set; }
    [Parameter]
    public LearningPathStartNode Node { get; set; }
}
