<div class="card">
    <div class="card-body">
        <h4 style="margin-bottom: 5px; margin-top: 5px;">Create a new LearningPath!</h4>
        <label>Name:</label>
        <input @bind="configuredLearningPath.Name" />
        <label>Estimated Timespan in hrs:</label>
        <input @bind="configuredLearningPath.EstimatedCompletionTimeInHrs" type="number" />
    </div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code{
    [CascadingParameter]
    public LearningPathDTO configuredLearningPath { get; set; }
    [Parameter]
    public LearningPathStartNode Node { get; set; }
}
