@page "/"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IAccessTokenProvider tokenProvider

<AuthorizeView>
    <Authorized>
        <div class="LearningPathDisplaysContainer">
            <LearningPathsDisplayComponent />
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="TeamTurtleInfoComponentContainer">
            <TeamTurtleInfoComponent />
        </div>
        <div class="LearningPathDisplaysContainer">
            <LearningPathsDisplayComponent/>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code{
    

    public static HubConnection hubConnection;
    public static string id;

    protected override async Task OnInitializedAsync()
    {
        
    }
}